* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'bitbit';
  src: url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),
    url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2');
}

/* @font-face {
  font-family: 'fb';
  src: url('font/flappy-bird-font.woff2') format('woff2'),
    url('font/flappy-bird-font.woff') format('woff'),
    url('font/flappy-bird-font.ttf') format('truetype');
} */

/* 깜빡이는 애니메이션 정의 */
@keyframes blink {
  0% {
    opacity: 1; /* 처음에 완전히 보임 */
  }
  50% {
    opacity: 0; /* 중간에 완전히 사라짐 */
  }
  100% {
    opacity: 1; /* 다시 보이도록 */
  }
}

body {
  height: 100vh;
  width: 100vw;
}

.background {
  height: 100vh;
  width: 100vw;
  background-color: skyblue;
  /* background-image: url('background.jpg'); */
  background-image: url('/img/background.jpg');
  background-size: cover; /* 이미지가 요소를 가득 채우도록 함 */
  background-repeat: no-repeat; /* 이미지 반복 금지 */
  background-position: bottom; /* 이미지를 상단에 맞춤 */
}

.bird {
  height: 60px;
  width: 85px;
  position: fixed;
  top: 40vh;
  left: 20vw;
  z-index: 100;
}

/* 공통 파이프 스타일 */
.pipe_sprite {
  position: fixed;
  left: 100vw;
  height: 70vh;
  width: 6vw;
  /* border: 5px solid rgb(43, 43, 43); */
}

/* 위쪽 파이프 스타일 */
.pipe_sprite_top {
  background-image: url('/img/pipe_top.png'); /* 위쪽 파이프 이미지 */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* 아래쪽 파이프 스타일 */
.pipe_sprite_bottom {
  background-image: url('/img/pipe_bottom.png'); /* 아래쪽 파이프 이미지 */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.message {
  font-family: 'bitbit', sans-serif;
  /* font-family: 'fb', sans-serif; */
  position: fixed;
  z-index: 100;
  height: 10vh;
  font-size: 13vh;
  font-weight: 100;
  top: 12vh;
  left: 32vw;
  text-align: center;
}

.message2 {
  font-family: 'bitbit', sans-serif;
  animation: blink 1s infinite; /* 1초마다 깜빡거림 */
  position: fixed;
  z-index: 10;
  height: 10vh;
  font-size: 10vh;
  font-weight: 100;
  color: black;
  top: 4vh;
  left: 35.5vw;
  text-align: center;
}

.score {
  font-family: 'bitbit', sans-serif;
  position: fixed;
  width: 100%;
  top: 25%;
  text-align: center;
  z-index: 10;
  height: 10vh;
  font-size: 8vh;
  font-weight: 100;
  padding-top: 20px;
  color: white;
}

.score_val {
  color: white;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 세로 가운데 정렬 */
  align-items: center; /* 가로 가운데 정렬 */
  position: relative;
  height: 53vh; /* 부모 요소의 높이를 100% 설정 (화면 전체 기준) */
  width: 109vw; /* 부모 요소의 너비를 100%로 설정 */
}

ul li {
  list-style: none;
  padding-top: 16px;
  font-size: 30px;
  color: darkblue;
  text-align: left; /* 텍스트를 왼쪽 정렬 */
  position: relative;
  width: 30%; /* li의 너비를 50%로 설정 (화면 전체의 50%) */
}
